@model CodeAcademy.Models.Header

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Header</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FontColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FontColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
